* {
	font-family: sans;
}

body {
	margin: 1em;
}

body > section {
	margin: 1em;
	padding-left: 1em;
	border-left: 8px solid lightgray;
}

h1 {
	text-decoration: underline;
	text-decoration-style: dashed;
}

form {
	width: 50%;
	border-left: 1px dotted black;
	padding-left: 1em;
}

form > p {
	display: flex;
	flex-flow: column;
}
